.idea/
song_book_builder/_build/
/song_book_builder/lib/mp_code.ml.old
/song_book_builder/lib/ly_code.ml.old
/song_book_builder/lib/tex_code.ml.old
/build-songs/
/rust/songs/target/
/build-rust/
*.rs.old