# Apply to all files without commiting:
#   pre-commit make_all --all-files
# Update this file:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      #-   id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      #- id: end-of-file-fixer
      #- id: trailing-whitespace
      #- id: mixed-line-ending


  - repo: local
    hooks:
      - id: ly-format
        name: format ly files
        entry: ly reformat --in-place
        language: system
#        pass_filenames: false
        files: .*\.ly$

  - repo: local
    hooks:
      - id: my-latexindent
        name: latexindent
        entry: bash ./my-latexindent.sh
        language: system
        #        pass_filenames: true
        files: .*
        require_serial: true
        always_run: true
        verbose: false

  - repo: local
    hooks:
      - id: compute-date
        name: compute date
        entry: bash ./software/others/shfiles/compute-date.sh data/songs
        language: system
        #        pass_filenames: true
        files: .*
        require_serial: true
        always_run: true
        verbose: false

  - repo: local
    hooks:
      - id: the-book
        name: create the book
        entry: bash ./data/make_the_book.sh
        language: system
        #        pass_filenames: true
        files: .*
        require_serial: true
        always_run: true
        verbose: false
