[Unit]
Description=Songbook server
After=network-online.target

[Service]
Type=simple
#PIDFile=/var/www/songbook/scripts/songbook.pid
#User=www-data
#Group=www-data
#UMask=077
ExecStart=/var/www/songbook/scripts/songbook-server /var/www/songbook/input/songs /var/www/songbook/input/books /var/www/songbook/output
#ExecStart=/var/www/songbook/scripts/songbook-server /var/www/songbook/input/songs /var/www/songbook/input/books /home/laurent/tmp/build
Environment="PATH=/home/laurent/.cargo/bin:/home/laurent/lilypond/lilypond-2.24.4/bin:/usr/local/sbin:/usr/local/bin:/usr/bin"
Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
